<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <style>
        body {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }
        * {
            margin: 0;
            padding: 0;
        }
        .heading {
            font-size: 32px;
        }
        .jumbotron {
            padding-top: 20px;
            padding-bottom: 25px;
        }
    </style>
    <title>Resume</title>
  </head>
  <body>
    <div class="jumbotron">
        <h1 class="display-4">Antony Chiramel</h1>
        <p class="lead heading">Full-Stack Developer</p>
        <br>
        <div>
            <div class="row">
                <div class="col"><p class="lead">Website: https://helloantony.herokuapp.com/</p></div>
                <div class="col"><p class="lead">Phone: +91 903-515-8037</p></div>
            </div>
            <div class="row">
                <div class="col"><p class="lead">Email: antonychiramel07@gmail.com</p></div>
                <div class="col"><p class="lead">Home: Bengaluru, India</p></div>
            </div>   
        </div>
    </div>
    <div class="my-3">
        <div class="container">
            <p class="lead">{{message}}</p>
            <hr>
            <div>
                <div class="row">
                    <div class="col">
                        <div id="expereince_section">
                            <i class="fas fa-briefcase fa-2x mr-3"></i><p class="heading font-weight-bold" style="display: inline-block;">EXPERIENCE</p>
                            <p class="lead font-weight-bold"><i class="fas fa-arrow-right"></i> Associate DevOps Engineer(July 2019 - present)</p>
                            <p class="lead font-weight-bold">TeamLease Services Ltd</p>
                            <ul>
                                <li><p class="lead">Worked in a dynamic team to deliver a winning product, IConnect.</p></li>
                                <li><p class="lead">Designing procedures for troubleshooting and maintaining this application. Investigating and resolving technical issues by updating quick fixes.</p></li>
                                <li><p class="lead">Gathering and evaluating user feedback to build tools that are less error prone to improve the customer experience.</p></li>
                            </ul>
                            <p class="lead font-weight-bold"><i class="fas fa-arrow-right"></i> Internship(Jan 2019 - May 2019)</p>
                            <p class="lead font-weight-bold">Cognizant Technology Solutions</p>
                        </div>
                        <br>
                        <div id="education_section">
                            <i class="fas fa-graduation-cap fa-2x mr-3"></i><p class="heading font-weight-bold" style="display: inline-block;">EDUCATION</p>
                            <div class="row">
                                <div class="col-8">
                                    <p class="lead font-weight-bold">Bachelor of Technology(ECE 2019)</p>
                                    <p class="lead">Dayananda Sagar University</p>
                                </div>
                                <div class="col-4">
                                    <p class="lead font-weight-bold">CGPA 7.76</p>
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-8">
                                    <p class="lead font-weight-bold">12th Grade(ISC 2015)</p>
                                    <p class="lead">St. Joseph's Boys' High School</p>
                                </div>
                                <div class="col-4">
                                    <p class="lead font-weight-bold">87.6%</p>
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-8">
                                    <p class="lead font-weight-bold">10th Grade(ICSE 2013)</p>
                                    <p class="lead">St. Joseph's Boys' High School</p>
                                </div>
                                <div class="col-4">
                                    <p class="lead font-weight-bold">85.83%</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col border-left bg-light">
                        <div id="skills_section">
                            <i class="fas fa-atom fa-2x mr-3"></i><p class="heading font-weight-bold" style="display: inline-block;">SKILLS</p>
                            <div class="row">
                                <div class="col"><p class="lead">HTML and CSS</p></div>
                                <div class="col"><i class="fas fa-star mr-1"></i><i class="fas fa-star mr-1"></i><i class="fas fa-star mr-1"></i><i class="far fa-star mr-1"></i><i class="far fa-star mr-1"></i></div>
                            </div>
                            <div class="row">
                                <div class="col"><p class="lead">Bootstrap</p></div>
                                <div class="col"><i class="fas fa-star mr-1"></i><i class="fas fa-star mr-1"></i><i class="fas fa-star mr-1"></i><i class="far fa-star mr-1"></i><i class="far fa-star mr-1"></i></div>
                            </div>
                            <div class="row">
                                <div class="col"><p class="lead">JavaScript(ES6)</p></div>
                                <div class="col"><i class="fas fa-star mr-1"></i><i class="fas fa-star mr-1"></i><i class="fas fa-star mr-1"></i><i class="fas fa-star mr-1"></i><i class="far fa-star mr-1"></i></div>
                            </div>
                            <div class="row">
                                <div class="col"><p class="lead">NodeJS</p></div>
                                <div class="col"><i class="fas fa-star mr-1"></i><i class="fas fa-star mr-1"></i><i class="fas fa-star mr-1"></i><i class="far fa-star mr-1"></i><i class="far fa-star mr-1"></i></div>
                            </div>
                            <div class="row">
                                <div class="col"><p class="lead">ExpressJS</p></div>
                                <div class="col"><i class="fas fa-star mr-1"></i><i class="fas fa-star mr-1"></i><i class="fas fa-star mr-1"></i><i class="far fa-star mr-1"></i><i class="far fa-star mr-1"></i></div>
                            </div>
                            <div class="row">
                                <div class="col"><p class="lead">ReactJS</p></div>
                                <div class="col"><i class="fas fa-star mr-1"></i><i class="fas fa-star mr-1"></i><i class="far fa-star mr-1"></i><i class="far fa-star mr-1"></i><i class="far fa-star mr-1"></i></div>
                            </div>
                            <div class="row">
                                <div class="col"><p class="lead">MongoDB</p></div>
                                <div class="col"><i class="fas fa-star mr-1"></i><i class="fas fa-star mr-1"></i><i class="far fa-star mr-1"></i><i class="far fa-star mr-1"></i><i class="far fa-star mr-1"></i></div>
                            </div>
                            <div class="row">
                                <div class="col"><p class="lead">SQL</p></div>
                                <div class="col"><i class="fas fa-star mr-1"></i><i class="fas fa-star mr-1"></i><i class="far fa-star mr-1"></i><i class="far fa-star mr-1"></i><i class="far fa-star mr-1"></i></div>
                            </div>
                        </div>
                        <br>
                        <div id="hobbies_section">
                            <i class="fas fa-futbol fa-2x mr-3"></i><p class="heading font-weight-bold" style="display: inline-block;">HOBBIES</p>
                            <ul class="ml-3">
                                <li><p class="lead">Am a big fan of Manchester United FC, therefore I follow lot of football.</p></li>
                                <li><p class="lead">Constantly work on side projects and at times you'll find me reading non-fiction.</p></li>
                                <li><p class="lead">I do give my shot at competitive coding on sites like HackerRank.</p></li>
                            </ul>
                        </div>
                        <br>
                        <div id="projects_section">
                            <i class="fas fa-code-branch fa-2x mr-3"></i><p class="heading font-weight-bold" style="display: inline-block;">PROJECTS</p>
                            <p class="lead">Why don't you check out my portfolio site...</p>
                            <p class="lead">https://helloantony.herokuapp.com/</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/604d7582fb.js" crossorigin="anonymous"></script>
  </body>
</html>